.container{
  text-align: center;
  padding: 20px;
  
}

.button {
  font-size: 24px;
  margin-right: 24px;
  width: 100px;
  height: 50px;

}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
 
}
  


.board-row:after {
clear:both;
content: '';
display: table;
}